.products .box-container .box {
    position: relative;
    background: #f3f3f3;
    text-align: center;
    overflow: hidden;
}

.products .box-container .box:hover .icons {
    top: 0;
}

.products .box-container .box .icons {
    position: absolute;
    top: -105%;
    left: 0;
    height: 15rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(243, 243, 243, 0.8);
    gap: 1rem;
}

.products .box-container .box .icons a {
    font-size: 1.4rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #666;
}

.products .box-container .box .icons a:hover {
    background: #bac34e;
    color: #fff;
}

.products .box-container .box .image {
    height: 15rem;
    width: 100%;
    overflow: hidden;
}

.products .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.products .box-container .box .content {
    padding: 1rem;
}

.products .box-container .box .content h3 {
    font-size: 1.4rem;
    color: #222;
}

.products .box-container .box .content small {
    font-size: .8rem;
    color: #666;
}

.products .box-container .box .content .small-p {
    font-size: .9rem;
    color: red;
}

.products .box-container .box .content .price {
    font-size: 1.2rem;
    font-weight: 500;
    color: #bac34e;
    padding-bottom: 1rem;
}

.products .box-container .box .content .stars .icon {
    font-size: 1.2rem;
    color: #bac34e;
}