.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 1.2rem 9%;
}

.header-nav .logo {
    font-size: 1.6rem;
    font-weight: bolder;
    color: #666;
    text-decoration: none;
    text-transform: capitalize;

}

.header-nav .logo:hover {
    color: #bac34e;
    padding-right: .2rem;
}

.header-nav .navbar-ul {
    margin-left: 13rem;
}

.header-nav .navbar-ul a {
    font-size: 1.2rem;
    color: #666;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
}


.header-nav .navbar-ul a:hover {
    color: #bac34e;
    text-decoration: underline 2.5px solid;
}

.dropdown {
    background: #fff;
    color: #bac34e;
    font-size: 1.1rem;

}

.dropdown:hover {
    background: #fff;
    color: #bac34e;

}

.header-nav .icons .icon {
    font-size: 1.8rem;
    margin-left: 1rem;
    cursor: pointer;
    color: #666;
    text-decoration: none;
}

.header-nav .icons .icon:hover {
    color: #bac34e;
}

.small-user {
    padding: 0 5px;
}

.logout-user {
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #bac34e;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8rem;

}

.logout-user:hover {
    color: #fff;
}