.wishlist-container {
    padding: 3rem 0;
}

.wishlist-product {}

.wishlist-row {
    background-color: #E9E9E9;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 600;


}