.info-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(10rem, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    padding: 2rem 0;
}

.info-container .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
}

.info-container .info img {
    height: 4.5rem;
}

.info-container .info .content h3 {
    font-size: 1.4rem;
    color: #222;
    text-transform: capitalize;
}

.info-container .info .content span {
    font-size: 1rem;
    text-transform: capitalize;
    color: #666;
}

.review {

    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(20rem, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
}

.review .box {
    padding: 1rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.review .box .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.review .box .user img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.review .box .user h3 {
    font-size: 1.6rem;
    text-transform: capitalize;
    color: #222;
}

.review .box .user span {
    font-size: 1.1rem;
    text-transform: capitalize;
    color: #bac34e;
}

.review .box p {
    text-align: left;
    font-size: 0.9rem;
    color: #666;
}